@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --clr-primary : hsl(47, 88%, 63%);
    --clr-white : hsl(0, 0%, 100%);
    --clr-grey : hsl(0, 0%, 50%);
    --clr-black : hsl(0, 0%, 7%)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  "Figtree", sans-serif;
    font-size: 16px;
}

nav {
    border-bottom: 1px solid;
}
.nav-wrapper{
    /* outline: 1px solid; */
    max-width: 1200px;
    width: 90%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    /* outline: 1px solid; */
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
}

.github-icon a {
    /* font-size: 10rem; */
    text-decoration: none;
    color: black;
}

.counter-app{
    max-width: 370px;
    width: 90%;
    outline: 1px solid var(--clr-black);
    margin: 0 auto;
    padding: 1.5rem;
    height: fit-content;
    box-shadow: 10px 10px var(--clr-black);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.count-display{
    font-size: 5rem;
    height: fit-content;
    /* outline: 1px solid; */
    line-height: 4rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.count-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.count-buttons button{
    font-size: 1.5rem;
    padding: 0.2rem 2rem;
}

.step-ground{
    margin-top:1.8rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
}
.step-ground input{
    width: 35%;
    height: 2rem;
    padding-left: 0.8rem;
    font-size: medium;
}

.reset-area{
    margin-top: 1.5rem;
    
}

.reset-area button{
    padding: 0.7rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    
}